@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
  --background-color1: #4b167e;
  --background-color2: linear-gradient(62deg, #000000 0%, #282a3a 100%);
  --background-color3: #4b167e;
  --background-color4: #282a3a;
  --font-color1: #fff;
  --button-color1: #413f42;
  --button-color2: #313131e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: var(--font-color1);
}

h1 {
  font-size: 3.8rem;
}

h3 {
  margin: 0.8vw;
  font-size: 2.1rem;
  font-weight: lighter;
  font-style: italic;
  font-family: "Poppins";
}

h2 {
  font-size: 2.3rem;
  padding-bottom: 2vh;
  border-bottom: 1px solid var(--font-color1);
  font-family: "Poppins";
}

.subtitle {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}

/* BARRA DE NAVEGAÇÃO*/
.nav {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--background-color1);
  height: 13vh;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 5%;
  right: 2vw;
  list-style: none;
}

#itens {
  margin-left: 6px;
  margin-right: 6px;
  width: 8rem;
  border-right: 1px solid var(--font-color1);
  font-size: max(1.2rem, 18px);
}

#itens:last-of-type {
  border-right: none;
}

#navbar a {
  text-decoration: none;
  color: var(--font-color1);
}

#logo {
  width: 100px;
  max-width: 200px;
  position: fixed;
  top: 10px;
  left: 30px;
  filter: invert(90%);
  object-fit: cover;
}

/* FIM DA BARRA DE NAVEGAÇÃO*/

#welcome-section {
  width: 100%;
  background: var(--background-color2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color4);
}

.media {
  display: flex;
  margin: 6vh;
}

/*PHOTOS*/
#projects {
  width: 100%;
  padding: 4% 0 6%;
  background-color: var(--background-color3);
}

.imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin: 0 2vw;
}

.projectsimg {
  width: 100%;
  height: max(80%, 20px);
  object-fit: cover;
  object-position: center;
}

.project-tile {
  background-color: var(--font-color1);
  width: 20vw;
  padding-bottom: max(10%, 23px);
  margin: 0 auto;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.project-tile:hover {
  filter: none;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.project-tile a {
  text-decoration: none;
}

figcaption {
  font-size: max(1.3rem, 8px);
  color: var(--background-color4);
  text-decoration: none;
  font-weight: bold;
  margin-top: 10%;
}
/*PHOTOS END*/

.social-media a {
  font-size: 1.6rem;
  margin: 0 2vw;
  cursor: pointer;
  color: var(--font-color1);
  text-decoration: none;
  display: inline-block;
}

.social-media a:hover {
  transform: translateY(0.2rem);
  transition: transform 0.2s;
  color: #fff;
}

.email {
  font-size: 1.8rem;
  width: 100%;
}

.emailsec {
  display: flex;
}

#botao-copiar {
  background-color: var(--button-color1);
  color: white;
  border: 1px solid var(--button-color2);
  border-radius: 5%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
  transform: translateY(10px);
}

#botao-copiar:hover {
  background-color: var(--font-color1);
  color: var(--button-color1);
  border: 1px solid var(--button-color1);
}

#botao-copiar:active {
  transform: scale(0.9) translateY(10px);
  transition: linear 0.1ms;
}

.bold {
  font-weight: 600;
}

@media only screen and (max-width: 1050px) {
  html {
    font-size: 13px;
  }

  figcaption {
    font-size: 17px;
  }
}
@media only screen and (max-width: 660px) {
  html {
    font-size: 13px;
  }
  figcaption {
    font-size: 15px;
  }
  .emailsec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo {
    width: 80px;
  }
}
@media only screen and (max-width: 530px) {
  html {
    font-size: 10px;
  }
  .project-tile {
    filter: none;
  }
  .project-tile:hover {
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
  }
  .social-media a:hover {
    transform: translateY(0);
  }
  #botao-copiar:hover {
    background-color: var(--button-color1);
    color: var(--font-color1);
    border: 1px solid var(--button-color1);
  }

  #botao-copiar:active {
    transform: scale(0) translateY(10px);
  }
  figcaption {
    font-size: 13px;
  }
  #itens {
    border: none;
  }
}
@media only screen and (max-width: 395px) {
  html {
    font-size: 8px;
  }

  #logo {
    top: 20px;
  }
  #botao-copiar {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 8px;
  }

  .nav {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 150px;
  }
  #navbar {
    height: 50%;
    top: 80px;
    font-size: 17px;
  }

  #itens {
    border: none;
  }

  #logo {
    left: 30%;
  }

  h2 {
    font-size: 13px;
  }
}
